body{
	background: #000;	
}

#container{
	width: 80%;
	height: 800px;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(2.jpg);
	margin: 40px auto;
}

#calculator{
	width: 30%;
	height: 560px;
	background: #dedede;
	margin: 0 auto;
	top: 13%;
	position: relative;
	border-radius: 10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;

}

#result{
	height: 150px;
}

#history{
	text-align: right;
	height: 20px;
	margin: 10px 10px;
	padding: 5px 20px;
	font-size: 20px;
}

#input{
	text-align: right;
	height: 60px;
	margin: 10px 10px;
	padding: 5px 20px;
	font-size: 40px;
}


#keyboard{
	height:  410px;
}

.operator , .number , .empty{
	width: 19%;
	height: 60px;
	margin: 10px;
	float: left;
	border-radius: 50%;
	border: none;
	font-size: 15px;
	font-weight: bold;
}

.number , .empty{
	background: #dedede;

}

.number , .operator{
	cursor: pointer;

}

.number:active , .operator:active{
	font-size: 10px;

}

button:nth-child(4){
	background-color: #4AAABA;
	font-size: 20px;
	color: white;
}

button:nth-child(8){
	background-color: #771963;
	font-size: 20px;
	color: white;
}

button:nth-child(12){
	background-color: #D21E79;
	font-size: 20px;
	color: white;
}

button:nth-child(16){
	background-color: #F07355;
	font-size: 20px;
	color: white;
}

button:nth-child(20){
	background-color: #F0D77D;
	font-size: 20px;
	color: white;
}